{% extends "employees/master.html" %}


{% block title %}
Employees
{% endblock %}

{% block content %}
<ul>
    {%for employee in employees %}
        <li>
            <div>
                <a href="desk/{{ employee.desk_id }}">Name : {{ employee.name }}</a> 
            </div>
            <div>
                position : {{employee.position}}
            </div>
            <div>
                <a href="tasks/{{employee.id}}">Ongoing Tasks</a>
            </div>
            <br>
        </li>
        {% endfor %}
        <div>
            <form action="" method="POST">
                <input type="text" name="name">
                <button type="submit">Delete</button>
            </form>
        </div>
</ul>

{% endblock %}