*{
    text-decoration: none;
}
ul{     
    list-style-type: none;
    display: flex;
    width: 70%;
    margin: auto;
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: space-around;
    background-color: rgb(179, 214, 149);
}
a:visited{
    color: rgb(24, 0, 101);
}